<section-header
  title="main.products"
  titleIcon="deployed_code"
  actionName="main.addProduct"
  actionIcon="add"
></section-header>

<section>
  <div class="cards-grid">
    @for (product of products; track product.id) {
      <app-product-card [product]="product"></app-product-card>
    } @empty {
      @if (isLoading) {
        <div class="loader-container">
          <app-loader [isGlobal]="false"></app-loader>
        </div>
      } @else {
        <div class="no-data full-row">
          <p>{{ 'main.noData' | translate }}</p>
        </div>
      }
    }
  </div>

  <mat-paginator
    [length]="allProducts?.length || 0"
    [pageSize]="paginationInfo.pageSize"
    [pageIndex]="paginationInfo.page"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true"
    (page)="onPaginationChange($event)"
  >
  </mat-paginator>
</section>
