:root {
  // add any variables here
  // green
  --hok-sys-on-green-container: light-dark(#4caf50, #4caf50);
  --hok-sys-green-container: light-dark(#c8e6c9, #c8e6c9);

  // yellow
  --hok-sys-on-yellow-container: light-dark(#ff9800, #fff3e0);
  --hok-sys-yellow-container: light-dark(#fff3e0, #ff9800);

  --sm-radius: 4px;
  --md-radius: 8px;
}
