<section-header
  title="main.orders"
  titleIcon="shopping_basket"
  actionName="main.addOrder"
  actionIcon="add"
></section-header>

<section>
  <app-filter-bar
    [filterConfigs]="filterConfigs"
    (search)="onFilterSearch($event)"
  ></app-filter-bar>

  <app-grid
    [enableSelection]="true"
    [dataSource]="orders"
    [totalCount]="totalCount"
    [pageSize]="paginationInfo.pageSize"
    [pageIndex]="paginationInfo.page"
    [actions]="orderAction"
    [columnsConfig]="orderColumnsConfig"
    (paginationChanged)="onPaginationChange($event)"
    [searchEnabled]="false"
  ></app-grid>
</section>
