@use '@angular/material' as mat;
@use './styles/_theme-colors.scss' as theme-colors;
@use './styles/global-rules.scss';

html {
  color-scheme: light dark; /* Change to `light dark` to automatically toggle between light and dark themes. */

  @include mat.theme((
    color: (
      primary: theme-colors.$primary-palette,
      tertiary: theme-colors.$tertiary-palette,
      theme-type: color-scheme,
    ),
    typography: (
      'Somar',
      sans-serif,
    ),
    density: 0,
  ));
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font-family: 'Somar', sans-serif;

  &[app-theme='dark-mode'] {
    color-scheme: dark;
  }

  &[app-theme='light-mode'] {
    color-scheme: light;
  }
}

:root {
  @include mat.button-overrides(
      (
        filled-container-shape: 0.25rem,
        outlined-container-shape: 0.25rem,
      )
  );

  @include mat.paginator-overrides(
      (
        container-background-color: transparent,
      )
  );

  @include mat.dialog-overrides(
      (
        container-shape: 8px,
      )
  );

  @include mat.tabs-overrides(
      (
        label-text-size: 1rem,
      )
  );

  @include mat.select-overrides(
      (
        disabled-trigger-text-color: color-mix(in srgb, var(--mat-sys-on-surface) 90%, transparent),
      )
  );
}

